<header class="cd-header">
	<div class="ui container">
		<div id="cd-logo">
			<%= link_to root_path do %>			
				<%= image_tag ('gdg-vietnam.png') %>
			<% end %>
		</div>
		<nav class="cd-main-nav">
			<ul>
        <li>
          	<button class="ui right labeled icon tiny menu-button button"> 
		  				<i class="ellipsis vertical icon"></i> MENU
						</button>
        </li>
			</ul>
		</nav> 
	</div>
</header>
